body {
    font-family: 'Open Sans', sans-serif; 
}
h1,
h2,
h3,
h4 {
    margin: 0;
}


.uppercase {
    text-transform: uppercase;
    
}
.inline-block{
    margin-top: 50px;
}
.general-sub {
text-align: center;
    font-weight: 400;
}



.list-inline{
    text-align: center;
}
header{
     min-height: 360px;
    background: url('../images/corona2019.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    
    position: relative;

}


.section-column{
    background-color: rgb(169, 237, 243);
}

.bg-color-center-container{
     background-color: rgb(169, 237, 243);

}

.info-container {
    background-color: rgb(169, 237, 243);
}

.center-container-icon{
    float: right;
}
.about-icon{
    text-align: right;
}
.footer-container {}

footer {
    
background: url('../images/footer.jpg') no-repeat center center;
    color: #f7f7f7;
    min-height: 120px;
    margin: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}
