body {
    font-family: 'Open Sans', sans-serif; 
}
 .navbar{
    background-color: transparent;
    
}
@media (max-width: 576px) {
 .navbar {
    background-color: #323033;
  }
}


header{
     min-height: 360px;
    background: url('../images/covid.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    
    position: relative;

}







.info-container {}

.footer-container {}



}
